body {
  background-image: url(back.png);
}



.nyan-cat-start {
  position: fixed;
  transition: 3s;
  left: 0;
  top: 0;
}

.spin {

  transform: rotate(1000deg);
  transition:  4s;
}

.nyan-cat {

  transition: 1.5s;
  position: fixed;
}

.nyan-cat-end {

  left: 100vw;
  top: 100vh;
}
